---
import BaseLayout from "../layouts/Base.astro";

const title = "Stories of a Full Stack Developer and Penetration Tester";
const description =
  "1tpp.dev is a website dedicated to sharing the stories and experiences of a full stack developer and penetration tester. Our expert author provides readers with valuable insights and practical tips that can help them stay ahead of the game in the rapidly evolving world of technology. Whether you are a seasoned developer or just starting out in the field, 1tpp has something for everyone.";
---

<BaseLayout title={title} description={description}>
  <div
    class="max-w-3xl mx-auto flex flex-col items-center justify-center h-screen"
  >
    <h1 class="text-6xl font-bold text-center text-neutral-100">
      1tpp.<span class="text-rose-500">dev</span>
    </h1>
    <div class="flex flex-wrap justify-center py-10 space-x-2 text-gray-300">
      <a
        href="https://github.com/1tpp"
        target="_blank"
        class="button button--aylen px-5 py-3 bg-neutral-800 hover:bg-neutral-700 hover:text-white relative block focus:outline-none rounded-sm text-sm text-center font-semibold uppercase tracking-widest overflow-hidden"
      >
        Github
      </a>
      <a
        href="/about"
        class="button button--aylen px-5 py-3 bg-neutral-800 hover:bg-neutral-700 hover:text-white relative block focus:outline-none rounded-sm text-sm text-center font-semibold uppercase tracking-widest overflow-hidden"
      >
        About Me
      </a>
      <a
      href="/3d"
      class="button button--aylen px-5 py-3 bg-neutral-800 hover:bg-neutral-700 hover:text-white relative block focus:outline-none rounded-sm text-sm text-center font-semibold uppercase tracking-widest overflow-hidden"
    >
      Try 3D
    </a>
    </div>
  </div>
</BaseLayout>
